html {
  -webkit-text-size-adjust: 100%;
  overflow-y: auto;
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
}
* {
  box-sizing: border-box;
}
img{
    max-width:100%;
}
a, a:link, a:hover, a:active, a:visited{
    color:inherit;
    text-decoration: none;
}
ul{
  margin:0;
  padding:0;
}
li{
    list-style: none;
}

/*============
header
=============*/

header{
    position: relative;
}
header .logo {
    width:230px;
}
header h1{
    margin:0;
    color: #e4017e;
    font-size: 5.7vw;
    top: 0;
    width: 100%;
    left: 0;
    position: absolute;
    text-align: center;
}

.mypageIcon{
  display: block; 
  position: absolute;
  width: 50px;
  right: 45px;
  top: 3px;
}
.mypageIcon i{
  font-size:42px;
  color: #e4017e;
}

/*============
nav
=============*/
nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}
.open nav {
  left: 0;
  opacity: 1;
}
nav .inner {
  padding: 25px;
}
nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}
nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}
nav .inner ul li a:hover {
  background: #e4e4e4;
}
@media screen and (max-width: 767px) {
  nav {
    left: -220px;
    width: 220px;
  }
}
/*============
.toggle_btn
=============*/
.toggle_btn {
  display: block;
  position: absolute;
  top: 8px;
  right: 18px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #e4017e;
  border-radius: 4px;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 13px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle_btn span {
  background-color: #fff;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}
/*============
#mask
=============*/
#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}


/*============
body
=============*/
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color:#333;
  margin: 0;
}

main h1{
  font-size:20px;
}

main h2{
    margin:0;
    font-size:18px;
}
.main-message{
  padding:10px;
}
.notificationMessage{
  text-align:center;
  margin:10px 0;
}
.notificationMessage a{
  color:#CC0000;
  font-size:12px;
  text-decoration:underline;
}



/*============
menu-container 
=============*/

.menu-container {
    margin: 0;
  }
  
  .menu-container .menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-container .menu .menu-item {
    flex: 1;
  }
  
  .menu-container .menu .menu-item a {
    background: #fff;
    border: 1px solid #ccc;
    border-right: none;
    color: #333;
    display: block;
    padding: 0.3em 0.2em;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
  }
  
  .menu-container .menu .menu-item:first-of-type a{
    background-color: #f3aad2;
    color: #ffffff;

  }
  .menu-container .menu .menu-item a:hover {
    background: #ccc;
    color: #ffffff;
  }
  
  .menu-container .menu .menu-item:last-child a {
    border-right: 1px solid #ccc;
  }
  
  @media screen and (max-width: 768px) {
    .menu-container .menu {
      flex-wrap: wrap;
      width: 100%;
    }
    .menu-container .menu .menu-item {
      flex: auto;
      width: 33.33333333%;
    }
    .menu-container .menu .menu-item:nth-child(3n) a {
      border-right: 1px solid #ccc;
    }
    .menu-container .menu .menu-item:nth-child(n + 4) a {
      border-top: none;
    }
  }

/*============
main-menu
=============*/
.main-menu-wrap{
    display: flex;
    flex-wrap: wrap;
}
.main-menu {
    width:33%;
}

.main-menu .image-wrap{
    padding: 2%;
    background-color: #fcfffc;
    border: 1px solid #CCC;
    margin: 3%;
}
.main-menu p{
    text-align:center;
    color: #e4017e;
    margin:0;
}


a.btn {
    color: #e4017e;
    margin: 10px auto;
    display: block;
    width: 70%;
    text-align: center;
    background-color: #333;
    border-bottom: 5px solid #014590;
    padding: 10px;
}
/* mens */
body.mens {
    background-color:#333;
    color:#FFF;
}

body.mens .main-menu .image-wrap{
    background-color: #333;
    border: 1px solid #333;
}
body.mens .toggle_btn span{
    background-color:#FFF
}
body.mens a.btn {
    color: #000;
    background-color: #e4017e;
    border-bottom: 5px solid #900145;
}

/*==============
search
================*/
.search{
  background-image: url(../img/background.jpg);
  padding: 2rem 1.6rem 1rem;
  background-position: 76% 63%;
  background-size: cover;
  
}
.search h2{
  color:#FFF;
  font-size:18px;
  font-weight: bold;
  text-align:center;
  margin-bottom:10px;
}
.formConditions-item{
  margin-bottom: 1.2rem;
  width: 100%;
  padding: 5px 10px;
  height: 50px;
  background: #fff;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;    
  overflow: hidden;

}
.formConditions-item-icon{
  margin-top: 11px;
  margin-right: 10px;
  vertical-align: top;
  display: inline-block;
}
.formConditions-item-icon svg{
  color: #555;
  height: 16px;
  width: 12px;
}
.formConditions-item-content{
  display:inline-block;
}
.formConditions-item-label {
  font-size: 1rem;
  color: #555;
}
.formConditions-item-value{
  display: block;
  font-size: 1.4rem;
  color: #555;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.commonButton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  border: 0;
  border-radius: 3px;
  line-height: 1.2;
  color: #fff;
  cursor: point
}
.submitButton, .submitButton:link, .submitButton:visited{
  background-color: #39c46e;
  height: 50px;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
}
.contentBox{
  padding: 2rem 1.6rem 0;
}
.commonHeadingBlack {
  color: #1a1a1a;
  font-size: 2.2rem;
  line-height: 30px;
  font-weight: 700;
  margin-bottom:10px;
}
.shortcutList{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.shortcutList-item{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right:1rem;
}

.commonBlueButtonTop {
  display: block;
  background: #fff;
  padding: .7rem 1rem;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #003773;
  text-align: center;
}


/*============
steps
=============*/
.steps {
  width: 100%;
  margin: 30px 5px;
  padding:0 10px;
}
.steps .step_img {
  width: 120px;
  position: relative;
}
.steps .step {
  counter-increment: step-count;
  margin: 0 0 16px;
  display: flex;
  justify-content: space-between;
}
.steps .step_text {
  align-self: center;
  vertical-align: middle;
  display: inline-block;
}
.attentionList {
  list-style: none;
  max-width: 400px;
  font-size: 14px;
  font-size: 0.8rem;
  margin: auto auto 32px;
}
.attentionList li::before {
  content: "※";
  margin: auto 4px auto -16px;
}
.budget li {
  margin: auto auto 16px;
  list-style: none;
}
.btn, .btn-s, .btn-l, .btn-xl, .btn-w, .btn-line, .btn-file, .btn-back {
  border-radius: calc(40px / 2);
  overflow: hidden;
  background: #ccc;
  vertical-align: top;
  cursor: pointer;
  box-sizing: border-box;
  background: #ccc;
  text-align:center;
  transition: all 0.2s;
}
.btn-l input, .btn-l button, .btn-l a, .btn-l span, .btn-l label {
  height: auto;
  line-height: inherit;
  font-size: 1.8rem;
  letter-spacing: 0.25rem;
  font-weight: 600;
  padding: 12px 0;
}

.btn-primary {
  background-color: #f3aad2;
  width: 90%;
  margin: 0 auto 20px;
}
.btn-l.btn-back{
  width: 70%;
  height:auto;
  margin: 0 auto 10px;
  
}
.btn-back a{
  color:#FFF;
  font-size: 1.4rem;
  padding: 5px 0;
}

.btn-line input{
  color:#DDD;
}
.btn-primary a{
  color:#FFF;
  text-align:center;
}

.balloon-current {
  background: #fff8e5;
  border: solid 2px #f3aad2;
  color: #f3aad2;
}
.inputGroup_label {
  color: #f3aad2;
}

.footer {
  box-sizing: border-box;
  background: #6b6f73;
  padding: 64px 32px;
  text-align: center;
}
.footer ul{
  margin-bottom:30px;
}
.footer_navLink:not(:last-child) {
  margin-right: 8px;
}
.footer_navLink {
  font-size: 13px;
  font-size: 1.3rem;
  display: inline-block;
}
.footer_logo {
  width: 300px;
  margin: 0 auto 32px;
}
.footer_copyright {
  color: #fff;
}
.footer_navLink a {
  color:#FFF !important;
}
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding: 10px 0 20px;
}
.bx-wrapper .bx-pager .bx-pager-item {
  display: inline-block;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #CCC;
  text-indent: -9999px;
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 10px;
  outline: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.caption{
  text-align:center;
  font-size:12px;
  color:#3333FF;
  text-decoration:underline;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #f3aad2;
}
.contentsTitle{
  border-left:3px solid #ff66a9;
  padding-left:5px;
  margin-bottom:5px;
}